<!DOCTYPE html>
<html>

<head>
  <title>O Sábio</title>
  <link rel='stylesheet' href='/stylesheets/index.css' />
</head>

<body>
  <h1 id="tit">O Sábio</h1>
  <div id="resp" style="display: <%= dist %>;"><%= text %></div>
  <img id='img' style="display: <%= disi %>;" src='<%= text %>'>
  <iframe style="display: <%= disf %>;" id='frame' width="1040" height="600" src='<%= text %>' frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <form method="POST" action="">
    <div id="divp"><input name="perg" id="perg" autocomplete="off"></div>
  </form>
</body>

</html>